* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    background-attachment: fixed;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.4); /* Dark overlay */
    z-index: 999; /* Below the slider */
    /* Hidden by default */
}

.containe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    background: white;
    box-shadow: 0 30px 50px whitesmoke;
}

.containe .slide .item {
    width: 200px;
    height: 300px;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px black;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(3) {
    left: 50%;
}

.slide .item:nth-child(4) {
    left: calc(50% + 220px);
}

.slide .item:nth-child(5) {
    left: calc(50% + 440px);
}

.slide .item:nth-child(n+6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content {
    position: fixed;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: white;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}

.slide .item:nth-child(2) .content {
    display: block;
}

.content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 0;
    z-index: 1000; /* keep it above slider items */
}

.button button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
    margin: 0 10px;
    font-size: 18px;
    background-color: white;
    transition: 0.3s;
}

.button button:hover {
    background: #333;
    color: #fff;
}

h1{
    padding-top: 10px;
}
.but{
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}